<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Vehicle" asp-action="Index">Garage 2.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Vehicle" asp-action="Index">Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Garage" asp-action="Index">Garages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Vehicle" asp-action="Create">Park Vehicle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Stats" asp-action="Index">Stats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>