@model ParkedVehicle

@{
    ViewData["Title"] = "Park vehicle";
}

<div class="row">
    <div class="col-sm-8 col-xl-3">
        <div class="card mb-2 p-2 bg-light">
            <div class="card-body">
                <h3 class="mb-3">Park your vehicle</h3>
                <form asp-action="Create">
                    <div class="mb-3">
                        <label asp-for="RegistrationNumber" class="control-label"></label>
                        <input asp-for="RegistrationNumber" class="form-control" />
                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wheels" class="control-label"></label>
                        <input asp-for="Wheels" class="form-control" />
                        <span asp-validation-for="Wheels" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="RegisteredAt" class="control-label"></label>
                        <input asp-for="RegisteredAt" class="form-control" />
                        <span asp-validation-for="RegisteredAt" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Color" class="control-label"></label>
                        <input asp-for="Color" class="form-control" />
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>