@model GarageViewModel

@{
    ViewBag.Title = "New Garage";
}

<div class="row mb-3">
    <div class="col-sm-8 col-xl-3">
        <div class="card p-2 bg-light">
            <div class="card-body">
                <h3 class="mb-3">Create a new garage</h3>
                <form asp-controller="Garage" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ParkingSpotCount" class="control-label"></label>
                        <input asp-for="ParkingSpotCount" class="form-control" />
                        <span asp-validation-for="ParkingSpotCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Garage" asp-action="Index">Back to list</a>

