@model Garage

@{
    ViewData["Title"] = "Edit Garage";
}

<div class="row">
    <div class="col-md-4">
        <div class="card p-2 bg-light">
            <div class="card-body">
                <h3>Edit @Model.Name</h3>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="MaxCapacity" class="control-label"></label>
                        <input asp-for="MaxCapacity" class="form-control" />
                        <span asp-validation-for="MaxCapacity" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Save" class="btn btn-primary mt-2 mb-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

